a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

.logo a img {
  width: 230px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.logo a img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.sidebar-wrapper {
  position: relative;
}

.signOut {
  position: absolute;
  right: 30%;
  bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.signOut a {
  color: white;
  transform: scale(1.2);
  transition: transform 3s ease;
}

.signOut a:hover {
  color: red;
  transform: scale(1.2);
  transition: transform 3s ease;
}

.sidebar-wrapper .nav li a {
  background-color: black;
  width: 230px;
  padding: 10px 0 10px 5px;
}

.main-panel {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.table {
  margin-bottom: 0;
}

.table thead tr th {
  background: #007bff;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
}

.table td {
  vertical-align: middle;
  text-align: center;
}

.btn-primary {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

#listPro tr:nth-child(odd) {
  border-left: 5px solid red;
}

#listPro tr:nth-child(even) {
  border-left: 5px solid rgb(0, 195, 255);
}

#listPro td {
 cursor: pointer;
}

.main-panel tr {
  border-left: 5px solid black;
}